html body{padding:0!important;margin:0!important;}
h1{color:#39DA8A!important;font-size:3.5rem;font-weight:300;line-height:1.2;text-align:center;}
.no-padding{padding:0!important;}
.home-1{padding:20px 20px 8px 20px;margin:20px 0;border-radius:10px;}
.toshow{display:none;}
